@import "./config.scss";

.login-label{
    label{
        color: #fff;
    }
}

.login[data-v-aeba673c]{
    

    .el-form-item {
        margin-bottom: 20px;

        label.el-form-item__label {
            display: block;
            font-size: 14px;
            color: #fff;
        }

    }
    .el-form-item__label{
        color: #fff;
    }

    .getcode {
        label.el-form-item__label {
            text-align: left;
        }
    }
}
.getcode {
    label.el-form-item__label {
        text-align: left;
    }
}

//aside
.open .aside[data-v-2dc65dda]{
    .el-submenu .el-menu-item {
        padding-left: 60px !important;
        font-size: 14px;

        &.is-active {
            background-color: rgba(245, 108, 108, 0.2) !important;
            color: #fff;
        }
    }

    // 一级菜单样式
    .el-submenu {
        color: #fff;

        &.is-active.is-opened .el-submenu__title {
            background-color: $mainColor !important;
        }
    }

    .el-menu {
        border: none;
    }

    .close {

        .el-submenu {
            &.is-opened {
                >.el-submenu__title {
                    background-color: $mainColor !important;
                }
            }
        }

    }

    .el-menu--vertical {

        .el-menu-item-group__title {
            padding: 0 !important;
        }

        .el-menu-item {
            color: #000 !important;
            line-height: 56px !important;
        }

        .el-menu-item:hover {
            color: #eee !important;
            background-color: $mainColor !important;
        }

    }
}


//main
.userIndex-table-th,
.infoIndex-table-th {
    th {
        text-align: center;
    }
    .el-table__row{
        .cell {
            text-align: center;
        }
    }
    
}

.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell{
    padding-left: 14px;
}

.ConsoleIndex[data-v-a7ed6d2a]{
    // el-select 


    .el-range-editor.el-input__inner {
        width: 330px;
        .el-range-input {
            font-size: 12px;
        }
    }


    // el-table 
    .el-table {

        .el-table--border td:first-child .cell,
        .el-table--border th:first-child .cell {
            padding-left: 15px;
        }

        .el-table__header {
            padding-left: 1.8px;
        }
    }
    .el-table td,
    .el-table th.is-leaf{
        text-align: center;
    }


    //dialog
    .el-dialog__body {
        padding:30px 50px 0px;

        .el-input.el-input--suffix {
            width: 180px;
        }
        .el-textarea__inner{
            height:100px;
        }

    }
    .el-dialog__footer {
        text-align: center;
    }

    
    
}

.infoDetail[data-v-6d72f388] {
    // upload 
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409eff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
}

.userIndex[data-v-bc0b5f70]{
    .el-dialog__body{
        padding-bottom: 0;
    }
}
