// svg-icon
.aside-icon {
    margin-right: 20px;
    width: 10px;
    height: 10px;
    font-size: 24px;
    transform: scale(2);
    color: rgba(255, 255, 255, 0.4);
    vertical-align: 0em !important;
}
.header-icon{
    font-size: 30px;
    cursor: pointer;
}

.logout-icon{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    vertical-align: 0 !important;
}

.cate-icon{
    font-size: 12px;
    // color:#000 ;
    vertical-align: 0 !important;
}